@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .popover {
        background-color: rgba(107, 110, 109, 0.2);
      }
      .modal-card {
        animation: modal 0.2s linear 0.1s forwards;
      }
    
      @keyframes modal {
        from {
          transform: scale(0);
        }
        to {
          transform: scale(1);
        }
      }
}
