@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .popover {
    background-color: rgba(107, 110, 109, 0.2);
  }
  .modal-card {
    animation: modal 0.2s linear 0.1s forwards;
  }

  @keyframes modal {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  /* loader */
  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/* list scroll bar */

/* Hide the scroll bar but still enable scrolling */
.list-box {
  /* Hide the scroll bar */
  scrollbar-width: thin;
  scrollbar-color: transparent transparent; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */

  /* Enable scrolling */
  overflow: auto;
}

/* For WebKit based browsers (Chrome, Safari) */
.list-box::-webkit-scrollbar {
  width: 0.5em;
}

.list-box::-webkit-scrollbar-track {
  background-color: transparent;
}

.list-box::-webkit-scrollbar-thumb {
  background-color: transparent;
}


}
